<div class="flash warning">
<b>Пароль должен содержать как минимум: одну строчную букву, одну заглавную букву, одну цифру, <br/>
  один специальный символ ( ! , @ , # , $ , % , ^ , & , * , ? , _ , ~ , ( , ) , [ , ] , { , } , < , , , > , . , | , ' , " , : , / , \ , ; )</b>
</div>